@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 /* ==== LOGIN PAGE ====  */
body.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../img/Skenario Lihat Password&Ingat Saya.jpg") no-repeat center/cover;
}

.logo-top {
  text-align: center;
  margin-bottom: 30px; 
  
}

.logo-top img {
  width: 140px; 
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.wrapper {
  position: relative;
  width: 500px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0,.2);
  color: #000;
  border-radius: 10px;
  padding: 60px 40px 40px;
  text-align: center;
}

/* ==== ICON ==== */
.icon-wrapper {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper i {
  font-size: 100px;
  color: #333;
}

/* ==== INPUT BOX ==== */
.input-box {
  position: relative;
  width: 100%;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 45px;
  border: 2px solid rgba(0, 0, 0,.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 0 40px 0 15px;
}

.pass-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.7;
}
/* ==== LOGIN PAGE ==== */
body.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../img/Skenario Lihat Password&Ingat Saya.jpg") no-repeat center/cover;
}

/* LOGO DI TENGAH ATAS */
.logo-top {
  text-align: center;
  margin-bottom: -60px; 
}

.logo-top img {
  width: 200px; 
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}


.wrapper {
  width: 500px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0,.2);
  color: #000;
  border-radius: 10px;
  padding: 40px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .wrapper {
    width: 90%;
    padding: 30px;
  }

}

.logo-top {
    width: 500px;
}

/* ==== REMEMBER & BUTTON ==== */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.btn {
  display: block;
  width: 60%;
  height: 45px;
  background: #F3CB51;
  border: none;
  border-radius: 40px;
  margin: 20px auto;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #e2b845;
}
